html, body {
    height: 100%;
    margin: 0;
}

 body {
    background-image: url('https://basicappleguy.com/s/Heatmap_Mac.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: rgb(68, 95, 125);
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px; 
    height: 150px; 
}

.circular-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.description {
    font-size: 1rem;
    color: #fff;
}

.text-block{
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #cc8a60;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}